@model DAES.Model.DTO.DTODisolucion

<div class="jumbotron">
    <div class="container">
        <h1>Asociación Consumidores</h1>
    </div>
</div>
<div class="container my-3">
    @Html.Partial("_Message")
</div>
@if (Model == null)
{
    return;
}