<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Actualizacion Datos de Supervisor Auxiliar</h1>
        <p class="lead">Todos los trámites de esta sección requiren <a href="https://claveunica.gob.cl/" target="_blank">clave única.</a> </p>
        <a id="linkGo" href="@Url.Action("Start")" class="btn btn-primary btn-rounded">Iniciar trámite</a>
    </div>
</div>

<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "DAES")'>DAES digital</a>
</div>